<!DOCTYPE html>

<html>

<head>
	<title> Home </title>
	<script type='text/javascript' src='lib/p5.js'></script>
</head>

<body>
	This is my text.
	
	<script type='text/javascript'>
		function setup(){
			createCanvas(400,400);
		}
		function draw(){
			
		}
	</script>
</body>

</html>